{% extends 'app/dummy.html' %}

{% block title %}
    <title>SchoolDetail</title>
{% endblock %}
{% block body_block %}
    <h1>
            School_Names
        </h1>
        <table border="3px" style="color: brown; " >

            <tr>
                <th>SchoolName</th>
                <th>SchoolPrinciple</th>
                <th>SchoolLocation</th>
            </tr>

            <tr>
                <td>{{schobj.Sname}}</td>
                <td>{{schobj.Sprincipal}}</td>
                <td>{{schobj.Slocation}}</td>
            </tr>

        
    </table>
    <h3>Students of {{schobj}}</h3>
        {% for st in schobj.students.all %}
            
            <h4 style="color: blueviolet;">Name of the student is {{st.Stname}}</h4>
            <h4>Age of the student is {{st.Stage}}</h4>
            
        {% endfor %}

    <a href="{% url 'update' pk=schobj.pk %}" class="btn btn-success">Update</a>

    <a href="{% url 'delete' pk=schobj.pk %}" class="btn btn-info">Delete</a>
{% endblock %}